<button class="text-center px-2 py-2 bg-black place-self-center w-3/5 shadow-sm shadow-zinc-600/50 hover:shadow-md 
          hover:scale-101 transition duration-150 ease-in text-white" type="{{ type }}">
  {{{ await $slots.main() }}}
</button>