<input class="px-4 text-zinc-900 bg-gray-100 rounded-full border-2 border-secondary-border inset-shadow-xs focus:outline-none 
    focus:inset-shadow-sm inset-shadow-zinc-600/50 transition duration-157 ease-in
    appearance-none [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none 
    [&::-webkit-outer-spin-button]:m-0 [&::-webkit-inner-spin-button]:m-0" {{ $props.toAttrs() }} />