<div class="flex flex-row items-center space-x-4 grow place-content-center">
  <span class="text-black">  
     <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
  </svg>
  </span>
  <input class="bg-gray-100 px-4 w-2/3 rounded-full border border-secondary-border h-10 focus:outline-none 
    focus:inset-shadow-sm inset-shadow-zinc-600/50 transition duration-157 ease-in"    
    placeholder="Buscar Produto..." type="text" name="search" class="input">
  </div>