@import "tailwindcss";
@source "../views";

@theme {
  --color-primary: #FF6B99;
  --color-secondary: #70BA77;
  --color-secondary-dark: #4EA155;
  --color-accept: #7770BA;
  --color-accept-border: #9D98CD;
  --color-deny: #BA7770;
  --color-deny-border: #CD9D98;
  --color-primary-dark: #A57181;
  --color-primary-border: #503F44;
  --color-secondary-border: #98CD9D;
  --shadow-bottom: 
    0 8px 12px -6px rgba(0, 0, 0, 0.18),
    0 4px 8px -6px rgba(0, 0, 0, 0.1);

}