@import "tailwindcss";
@source "../views"; 
@theme {
  --color-primary: #FF6B99;
  --color-secondary: #70BA77;
  --color-secondary-dark: #4EA155;
  --color-accept: #7770BA;
  --color-accept-border: #9D98CD;
  --color-deny: #BA7770;
  --color-deny-border: #CD9D98;
  --color-primary-dark: #A57181;
  --color-primary-border: #503F44;
  --color-secondary-border: #98CD9D;
  --shadow-bottom: 
    0 8px 12px -6px rgba(0, 0, 0, 0.18),
    0 4px 8px -6px rgba(0, 0, 0, 0.1);
  --animate-slide-in: slide-in 0.912s ease-in-out forwards;
  --animate-fade-in-start: fade-in-start 0.75s ease-out forwards;
    @keyframes slide-in {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
      
    }
    @keyframes fade-in-start {
    from {
      opacity: 0;
      transform: translateY(15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer utilities{
  .t-underline{
    @apply relative 
  }
  .t-underline::after{
    @apply content-[''] absolute h-[3px] w-[0%] bg-white bottom-[-2px] left-0
    duration-300 ease-in
  }
  .t-underline:hover::after{
    @apply w-full
  }
}

.torto {
  clip-path: polygon(0 0, 100% 0, 55% 100%, 0% 100%);
}
.torto-wrap {
  filter: drop-shadow(4px 1px 10px #000000);
}